<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Catalog land</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{url_for('principal')}}">Catalog Land</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                {%if 'username' not in session %}
                <a href="{{url_for('showLogin')}}">Click Here to Login </a>
                {% else %}
                <a href="{{url_for('gdisconnect')}}">Logout </a>
                {% endif %}
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col col-lg-6" style="border: 1px solid  black ">
            <h2>{{category.name}}</h2>
            <div class = 'nameAndPrice'>
                <p>{{item.description}}</p>
            </div>
        </div>
    </div>
</div>

</body>
</html>
